@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-brand: #ff6b35;
  --color-brand-dark: #111827;
  --color-brand-success: #22c55e;
  --color-page-bg: #f8fafc;
}
/* body {
  background: var(--color-page-bg);
} */
body {
  background: var(--color-page-bg);
  color: var(--color-brand-dark);
}
